body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  /* создаём визуальный отступ справа от ползунка */
  box-shadow: inset 4px 0 0 0 transparent,  /* слева — прозрачный */
              inset -4px 0 0 0 var(--gray); /* справа — фон body */
}

/* AVATAR */

  .avatar-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    /* Бабл */
    .avatar-bubble {
      padding: 12px 16px;
      margin-bottom: 0;
      background-color: var(--white);
      color: var(--black-secondary);
      text-align: center;
      border-radius: 12px;
      position: relative;
      display: inline-block;
    }
    
    /* Хвостик бабла */
    .avatar-bubble::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      background-color: var(--white);
      border-radius: 50%;
    }
    
    /* Коннектор */
    .avatar-connector-circle {
      width: 6px;
      height: 6px;
      background-color: var(--white);
      border-radius: 50%;
      margin-top: 10px;
      margin-bottom: 4px;
    }
    
    /* Аватар */
    .avatar-wrapper {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: relative;
      display: inline-block;
    }
    
    .avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 50%;
    }
    
    /* Статус */
    .avatar-status {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 16px;
      height: 16px;
      background-color: var(--violet);
      border-radius: 50%;
      border: 2px solid var(--gray);
    }
  

/* HERO BLOCK */

  .hero-text {
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--black-primary);
    font-size: clamp(24px, 5vw, 40px);
    font-weight: 500;
    line-height: 120%; /* 48px */
    letter-spacing: -0.8px; 
  }

  .word-with-underline {
    display: inline-block;
    position: relative;
    line-height: 1.2;
    cursor: pointer;
  }
  
  .underline-svg {
    position: absolute;
    left: 0;
    bottom: -16px; 
    width: 100%;
    height: 1em; 
    pointer-events: none;
  }
  
/* BUTTONS */

  .btn-row-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 80px;
    padding: 0 16px;
    gap: 16px;
  }

  .btn-row-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 800px;
    margin: 0 auto 40px;
    padding: 0 16px;
  }
  
  @media (max-width: 520px) {
    .btn-row-desktop {
      display: none;
    }
  
    .btn-row-mobile {
      display: flex;
    }
  }
  
  .btn-text {
    font-family: var(--font-mono);
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    color: var(--black-secondary);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
  }
  
  .btn-text:hover {
    color: var(--black-primary);
  }  
  
  .btn-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: var(--font-mono);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    color: var(--black-secondary);
    background: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s ease;
    text-underline-offset: 2px;
  }
  
  .btn-small:hover {
    color: var(--black-primary);
  }  
    
/* FOOTER */


  .footer-divider {
    height: 1px;
    background-color: var(--black-ghost); /* rgba(0, 0, 0, 0.08) */
    border: none;
    margin: 120px auto 40px;
    max-width: 800px;
  }
  
  .footer {
    text-align: center;
    color: var(--black-tertiary);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.16px;
    margin-bottom: 40px;
  }

  .footer-copy {
    margin-top: 16px;
    font-weight: 400;
  }
  

/*MODAL*/

  .modal {
    position: fixed;
    inset: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .modal-inner-wrapper {
    position: relative;
    background-color: var(--gray);
    height: 100%;
    width: 100%;
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
    transform: translateY(20px) scale(0.98);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
  }

    /* MODAL SCROLLBAR */

    .modal-inner-wrapper::-webkit-scrollbar {
      width: 12px; /* шире, чтобы дать место для отступа */
    }
    
    .modal-inner-wrapper::-webkit-scrollbar-track {
      background: transparent;
    }
    
    .modal-inner-wrapper::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    
      /* вот тут создаём "отступ" визуально */
      box-shadow: inset 4px 0 0 0 transparent, /* левая часть прозрачная */
                  inset -4px 0 0 0 #E6E5E1;     /* правая часть совпадает с фоном модалки */
    }
  
  
  .modal.show {
    background-color: var(--black-glossy);
    opacity: 1;
    pointer-events: all;
  }

  .modal.show .modal-inner-wrapper {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  .modal.closing {
    opacity: 0;
    pointer-events: none;
  }

  .modal.closing .modal-inner-wrapper {
    transform: translateY(20px) scale(0.98);
    opacity: 0;
  }

  .modal-inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .modal-content {
    position: relative;
    padding: 80px 0px;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     /* центрирует по горизонтали */
  }

  .modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
    background: var(--black-glossy);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10;
  }
  
  .modal-close svg {
    width: 20px;
    height: 20px;
    color: var(--black-primary);
  }
  
  .modal-close:hover {
    background-color: var(--black-tertiary);
  }

    /*CONTENT INSIDE MODAL*/

    /*TEXT*/

      .text-block {
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      .text-block-header-32 {
        width: 100%;
        margin: 0px 0px 16px 0px;  
      }

      .text-block-header-32-single {
        width: 100%;
        margin: 0px 0px 24px 0px;  
      }

      .text-block-header-24 {
        width: 100%;
        margin: 32px 0px 16px 0px;  
      }

      .text-block-heder-description {
        width: 100%;
        margin: 0px 0px 24px 0px;
      }

      .text-block-paragraph-first {
        width: 100%;
        margin: 40px 0px 16px 0px;

      }

      .text-block-paragraph {
        width: 100%;
        margin: 16px 0px;
      }

      .svg-header {
        display: flex;
        margin-bottom: 16px; 
        margin-top: 32px;
      }

      .svg-bonus {
        width: 100px;
        height: auto;
        display: block;
      }

    /*IMAGE*/

      /*SCREENS*/

        .image-block-mobile {
          display: none;
        }
        
        @media screen and (max-width: 880px) {
          .image-block-desktop {
            display: none;
          }
        
          .image-block-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 32px;
          }
        }

        .image-description {
          margin-top: 16px;
          text-align: center;
        }
      
        /*DESKTOP*/

          .image-block-desktop {
            align-items: center;
            margin-top: 32px;
            margin-bottom: 32px;
          }
          
          .screenshot-wrapper-desktop {
            border-radius: 8px;
            border: 4px solid var(--black-glossy);
            overflow: hidden;
            aspect-ratio: 16 / 9;
            width: 100%;
            max-width: 1000px;
          }

          .scaled-inner-desktop {
            transform: scale(0.7); /* масштаб можно подогнать */
            transform-origin: top left;
            width: calc(100% / 0.7); /* компенсируем scale */
            height: calc(100% / 0.7);
            pointer-events: auto;
          }

          .screenshot-inner-desktop {
            width: 100%;
            height: calc(100% + 48px);
            margin-bottom: -48px;
            border: none;
          }

          .screenshot-desktop {
            max-width: 1000px;
            width: 100%;
            display: flex;
            justify-content: center;
            aspect-ratio: 16/9;
          }

          .screenshot-desktop img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 8px;
            border: 4px solid var(--black-glossy);
          }

        /*MOBILE*/
          
          .screenshot-wrapper-mobile {
            border-radius: 8px;
            border: 4px solid var(--black-glossy);
            overflow: hidden;
            aspect-ratio: 9 / 16;
            width: 100%;
            max-width: 380px;
          }

          .scaled-inner-mobile {
            transform: scale(0.7); 
            transform-origin: top left;
            width: calc(100% / 0.7); 
            height: calc(100% / 0.7);
            pointer-events: auto;
          }

          .screenshot-inner-mobile {
            width: 100%;
            height: calc(100% + 48px);
            margin-bottom: -48px;
            border: none;
          }

          .screenshot-mobile {
            max-width: 380px;
            width: 100%;
            display: flex;
            justify-content: center;
            aspect-ratio: 9/16;
          }

          .screenshot-mobile img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 8px;
            border: 4px solid var(--black-glossy);
          }


      /*CAROUSEL*/
        
        .carousel-wrapper {
          position: relative;
          max-width: 800px;
          margin: 24px auto;
        }

        .carousel {
          position: relative;
          max-width: 800px;
          aspect-ratio: 16 / 9;
          overflow: hidden;
          border-radius: 12px;
          margin: 24px 0;
          transition: box-shadow 0.3s ease;
        }

        .carousel:hover {
          box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.16), 0px 3px 8px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        }
        
        .carousel-track {
          display: flex;
          transition: transform 0.4s ease;
          height: 100%;
          overflow: hidden;
        }
        
        .carousel-track img {
          flex: 0 0 100%;
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 12px;
        }

        
        .carousel-btn {
          position: absolute;
          top: 50%;
          width: 44px;
          height: 44px;
          transform: translateY(-50%);
          background: #2E2E2D;
          color: var(--white);
          border: none;
          border-radius: 12px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          z-index: 2;
          opacity: 0;
          transition: opacity 0.2s ease;
          transform: translateY(-50%);
          transition: transform 0.2s ease;
        }
        
        .carousel-wrapper:hover .carousel-btn {
          opacity: 1;
        }
        
        .carousel-btn:hover {
          transform: translateY(-50%) scale(1.1);
        }


        .carousel-btn.prev {
          left: -20px;
        }
        
        .carousel-btn.next {
          right: -20px;
        }

          /*FULL SCREEN*/

          .fullscreen {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--black-secondary);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 9999;
          }
          
          .fullscreen.hidden {
            display: none;
          }
          
          .fullscreen-container {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1200px;
            width: 100%;
            padding-left: 76px; /* 44px кнопка + 32px gap */
            padding-right: 76px;
            box-sizing: border-box;
            position: relative;
          }
          
          .fullscreen-img {
            width: 100%;
            height: auto;
            max-height: 90vh;
            object-fit: contain;
            border-radius: 12px;
            display: block;
          }
          
          .fullscreen-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 44px;
            height: 44px;
            background: var(--black-primary);
            color: white;
            border: none;
            border-radius: 12px;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            transition: transform 0.2s ease;
          }
          
          .fullscreen-btn.prev {
            left: 16px;
          }

          .fullscreen-btn.next {
            right: 16px;
          }
          
          .fullscreen-btn:hover {
            transform: translateY(-50%) scale(1.1);
          }